
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
  font-family: 'URW Chancery L, cursive';
  font-style: oblique;
  /*margin-left: 2.2em;
  margin-top: 2.2em;
  margin-right: 2.2em;*/
}

a {
  outline: 0;
}

#header {
  width: 100%;
  height: 100%;
  padding-top: 2em;
  padding-bottom: 5.5em;
  margin-bottom: 1em;
  font-family: 'Abel';
  font-style: normal;
  font-weight: normal;
  text-align: center;
  background-color: #f7f7f7;

  -webkit-box-shadow: 0px 1px 3px rgba(100, 100, 100, 0.49);
  -moz-box-shadow:    0px 1px 3px rgba(100, 100, 100, 0.49);
  box-shadow:         0px 1px 3px rgba(100, 100, 100, 0.49);
}
#title-name {
  font-size: 2.2em;
  color: black;
  opacity: 90%;
  margin: 0;
}
#title-description {
  font-size: 1.1em;
  color: #696969;
  opacity: 80%;
  margin: 0;
}
.header-wrapper {
  width: 100%;
  position: absolute;
  padding-top: 1em;
  font-style: italic;
}
.header-wrapper li {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  color: black;
  opacity: 90%;
  padding: 0 2em;

  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.header-wrapper li:hover {
  color: #808080 !important;
}
/*
.header-wrapper li:before {
  content: "";
  position: absolute;

  height: 2px;
  bottom: 0;
  background-color: black;
  visibility: hidden;

  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.35s ease-in-out 0s;
  transition: all 0.35s ease-in-out 0s;
}
.header-wrapper li:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
*/

img {
  max-width: 100%;
  display: block;
  vertical-align: bottom;
}

.grid {
  padding-top: 1em;
  padding-left: 7em;
  padding-right: 7em;
  -moz-transition: all .1s ease-in-out;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  -moz-column-gap: 10px;
  -webkit-column-gap: 10px;
  column-gap: 10px;
  -moz-column-fill: initial;
  -webkit-column-fill: initial;
  column-fill: initial;
}
.grid .picture {
  margin-bottom: 10px;
}
.grid .picture img {
  -moz-transition: all .1s ease-in-out;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}
.grid .picture:hover img {
  opacity: .85;
}

@media only screen and (min-width: 1024px) {
  .grid {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .grid {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
