
body {
  background-color: white;
  font-family: 'URW Chancery L, cursive';
  font-style: oblique;
  margin-left: 2.2em;
  margin-top: 2.2em;
  margin-right: 2.2em;
}

a {
  outline: 0;
}

#header {
  padding-bottom: 1.5em;
}

.header-wrapper li {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: 20px;
  color: #808080;
  padding: 0 1em;

  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.header-wrapper li:hover {
  color: black !important;
}
.header-wrapper li:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  bottom: 0;
  left: 25%;
  background-color: black;
  visibility: hidden;

  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.35s ease-in-out 0s;
  transition: all 0.35s ease-in-out 0s;
}
.header-wrapper li:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.header-name{
  font-size: 40px;
  display: inline;
}
.header-wrapper {
  display: inline-block;
  position: absolute;
  top: 2em;
}

img {
  max-width: 100%;
  display: block;
  vertical-align: bottom;
}

.grid {
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -moz-column-gap: 10px;
  -webkit-column-gap: 10px;
  column-gap: 10px;
  -moz-column-fill: initial;
  -webkit-column-fill: initial;
  column-fill: initial;
}
.grid .picture {
  margin-bottom: 10px;
}
.grid .picture img {
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.grid .picture:hover img {
  opacity: .90;
}

@media only screen and (min-width: 1024px) {
  .grid {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .grid {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
